.step-top-container {
    display: block;
    justify-content: space-between;
    text-align: left;
    gap: 10px;
}

.powering-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    gap: 10px;
}

.overlay {
  position: relative;
}

.overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust the color and opacity as needed */
  backdrop-filter: blur(6px);
  border-bottom: 1px solid #E3E3E3;
}

.battery-image-section {
  margin-top: 80px;
}

.step-title {
  font-family: 'Avenir Next LT Pro', sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0em;
  color: #04B2A9 !important;
}

.step-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.step-center {
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.step-description {
  font-family: 'Avenir Next LT Pro', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (min-width: 200px) {
    .step-top-container {
        padding: 10% 10%;
    }

    .vector12 {
        width: 320px !important;
        margin-bottom: 10%;
    }

}

@media screen and (min-width: 576px) {
    .step-top-container {
        padding: 10% 24%;
    }

    .vector12 {
        width: 600px !important;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 860px) {
    .about-founder-section-container {
        padding: 5% 10% 2%;
    }
    .about-founder-container {
        padding: 6% 8%;
    }
    .step-center {
        padding: 0 50px;
    }
    .step-top-container {
        padding: 5% 8%;
        display: flex;
        justify-content: space-between;
        text-align: left;
        gap: 10px;
    }

    .vector12 {
        width: 900px !important;
        margin-bottom: 0%;
    }
}